{%- macro list_records(records, span) %}
  {%- for record in records %}
  <div class="{{ span }} record">
    <h3>{{ record.title }}
      <small>{{ record.created_at.strftime("%d.%m.%Y") }}</small>
    </h3>
    <div class="mark">
      <a href="{{ url_for('.mark_record', key=record.key.urlsafe()) }}">
        {%- if record.is_marked %}{{ _('unmark') }}{%- else %}{{ _('mark') }}{%- endif %}</a>
    </div>
    <p>{{ record.description|safe }}</p>
    {%- if record.attachment %}
    <p>
    <a href="{{ url_for('core.serve', key=record.attachment) }}">
      {{ record.attachment_descr }}
    </a>
    </p>
    {%- endif %}
    <p>
      {%- for tag in record.local_tags %}
      <span class="label"><a href="{{ url_for('.tagged_records', tag=tag) }}">{{ tag }}</a></span>
      {%- endfor %}
    </div>
  {%- else %}
  <div class="{{ span }}">
    <h3>{{ _('Sorry, but there are no records found for now') }}.</h3>
  </div>
  {%- endfor %}
{%- endmacro %}
