{%- extends "core/base.html" %}
{%- from "catalog/_list_records.html" import list_records %}
{%- set page_title = _("Records") %}
{%- block content %}
<div class="row">
  <div class="span13">
    <div class="row records">
      {{ list_records(records, 'span13') }}
    </div>
  </div>
  <div class="span3 visit-selected" {%- if count %}style="display:block;"{%- endif %}>
    <a href="{{ url_for('.selected_records') }}">{{ _('View selected records') }}</a>
  </div>
</div>
{%- include "pagination.html" %}
{%- endblock content %}
{%- block js_extra %}
<script type="text/javascript">

(function($) {
  var baseColor = $(".row.records > div:first-child").css('background-color');
  var t;
  var actions = {
    'created': function(linkObj) {
      $(linkObj).text({{ _('unmark') }});
    },
    'deleted': function(linkObj) {
      $(linkObj).text({{ _('mark') }});
    }
  };

  $(".record").hover(
    function(evt) {
      $target = $(evt.currentTarget);
      t = setTimeout(function() {
        $target.find('.mark').fadeIn(300);
      }, 600);
    },
    function(evt) {
      clearTimeout(t);
      $target = $(evt.currentTarget);
      $target.find('.mark').fadeOut(500);
    });

  $('.record .mark a').click(function(evt) {
      $.get(evt.currentTarget.href, function(resp) {
        if (resp.status == 'success') {
          // toggle mark/unmark on recordaction
          actions[resp.data.action](evt.currentTarget);
          var selectedBlock = $('.row .visit-selected');
          if (resp.data.count > 0) {
            selectedBlock.show()
          } else {
            selectedBlock.hide();
          }
        };
    });
    return false;
  });
})(jQuery);
</script>
{% endblock -%}
