{%- extends "base.html" %}
{%- from "catalog/_list_records.html" import list_records %}
{%- if not page_title %}
  {%- set page_title = _("Records") %}
  {%- set page_description = _("<a href='%(link)s'>selected</a>", link=url_for('.selected_records')) %}
{%- endif %}
{%- block content %}
<div class="row">
  <div class="span12">
    <div class="row records">
      {{ list_records(records, 'span12') }}
    </div>
  </div>
  <div class="span4"> {#
    <div class="row">
      <div class="span4 visit-selected" {%- if count %}style="display:block;"{%- endif %}>
        <a href="{{ url_for('.selected_records') }}">{{ _('View selected records') }}</a>
      </div>
    </div>
    <div class="row">
      <div class="span4"> #}
        <h3>{{ _("Tags") }}:</h3>
        {%- for tag in tags %}
        <a class="tag" href="{{ url_for('.tagged_records', tag=tag.value) }}">
          {{ tag.value }}</a>{%- if not loop.last %}, {% endif %}
        {%- endfor %}{#
      </div>
    </div> #}
  </div>
</div>
{%- include "pagination.html" %}
{%- endblock content %}
{%- block js_extra %}
<script type="text/javascript">

(function($) {
  var baseColor = $(".row.records > div:first-child").css('background-color');
  var t;
  var actions = {
    'created': function(linkObj) {
      $(linkObj).text('{{ _('unmark') }}');
    },
    'deleted': function(linkObj) {
      $(linkObj).text('{{ _('mark') }}');
    }
  };

  $(".record").hover(
    function(evt) {
      $target = $(evt.currentTarget);
      t = setTimeout(function() {
        $target.find('.mark').fadeIn(300);
      }, 600);
    },
    function(evt) {
      clearTimeout(t);
      $target = $(evt.currentTarget);
      $target.find('.mark').fadeOut(500);
    });

  $('.record .mark a').click(function(evt) {
      $.get(evt.currentTarget.href, function(resp) {
        if (resp.status == 'success') {
          // toggle mark/unmark on recordaction
          actions[resp.data.action](evt.currentTarget);
//          var selectedBlock = $('.row .visit-selected');
//          console.log(selectedBlock);
//          if (resp.data.count > 0) {
//            selectedBlock.show()
//          } else {
//            selectedBlock.hide();
//          }
        };
    });
    return false;
  });
})(jQuery);
</script>
{% endblock -%}
