{{ _('Hello') }}, {{ user.first_name }}!

{{ _('You have to confirm your email address to activate your account at %(site)s')|format(site=SITE_TITLE) }}.
{{ _('Please, follow this link: http://%(hostname)s%(path)s')|format(hostname=hostname, path=url_for('auth.activate', token=user.create_token())) }}
{{ _('Please, don't reply this message, follow the suppor email address listed at %(hostname)s')|format(hostname=hostname) }}.

--
{{ _('Sincerely yours, %(site)s team.')|format(site=config.SITE_TITLE) }}
