{%- set recover_url = url_for('auth.finish_recovery', token=user.create_token()) %}
{%- trans site=config.SITE_TITLE, hostname=hostname, path=recover_url, user=user.first_name %}
Hello, {{ user }}!

You've requested password recovery for {{  site }}.
If this is not you want or you didn't request recovery, just delete this message.
Elsewere, please follow the link to get the page where you can set a new password for you account:
http://{{ hostname }}{{ path }}

You don't need to reply on this message. If you have a quesions - follow the suppor email address listed at {{ site }}.

--
Sincerely yours, {{ site }} team.
{%- endtrans %}
