{{ _('Hello') }}, {{ user.first_name }}!

{{ _('You've requested password recovery for %(site)s. If this is not you want or you didn't do that, just delete this message.')|format(site=site) }}
{{ _('Elsewere, please follow the link to get the page where you can set a new password for you account:') }}
{{ _('http://%(hostname)s%(path)s')|format(hostname=hostname,path=url_for('auth.finish_recovery', token=user.create_token()) }}

{{ _('Please, don't reply this message, follow the suppor email address listed at %(hostname)s')|format(hostname=hostname) }}.

--
{{ _('Sincerely yours, %(site)s team.')|format(site=config.SITE_TITLE) }}
