{% extends "base.html" %}
{%- set page_title = _('This is your profile') %}
{%- set page_description = [user.first_name, user.last_name]|join(' ') %}
{%- block content %}
{%- include "auth/profile_toolbar.html" %}
<div class="row">
</div>
<div class="row">
  <div class="span5">
    <dl class="profile-details">
      <dt>{{ _('First name:') }}</dt>
      <dd>{{ user.first_name }}</dd>
      <dt>{{ _('Last name:') }}</dt>
      <dd>{{ user.last_name }}</dd>
      <dt>{{ _('Last logged in:') }}</dt>
      <dd>{{ user.logged_at.strftime("%Y-%m-%d %H:%M") }}</dd>
    </dl>

  </div>
</div>
{%- endblock content %}
