{%- extends "base.html" %}
{%- from "_base_macro.html" import render_form, flash_messages %}
{%- set page_title = _('Password recovery') %}
{%- set page_description = _('reset your password here') %}

{%- block content %}
<div class="row">
  <div class="span4">
    <p>{{ _("Choose new password for your account at %(site)s", site=config.SITE_TITLE) }}</p>
  </div>
  <div class="span12">
    {{ flash_messages() }}
    {%- if form %}
    {{ render_form(form, 'auth.finish_recovery', _('Submit')) }}
    {% endif %}
  </div>
</div>
{%- endblock content %}
