{% extends "base.html" -%}
{% from "_base_macro.html" import render_form, flash_messages -%}
{% set page_title = _('Password recovery') -%}
{%- block content %}
<div class="row">
  {%- if session.get('recover_sent') %}
  {{ flash_messages() }}
  <div class="span16">
    <h3>{{ _("Check your email inbox or try to request password recovery again a bit later.") }}</h3>
  </div>
  {%- else %}
  <div class="span4">
    <p>{{ _("Here you can request a link for password reset.") }}</p>
    <p>{{ _("We'll send a special link to the email you provided us "
            "with at the signing up time.") }}</p>
  </div>
  <div class="span12">
    {{ render_form(form, 'auth.ask_recovery', _('Confirm')) }}
  </div>
  {%- endif %}
</div>
{%- endblock content %}
