{%- extends "base.html" %}
{%- from "_base_macro.html" import render_form, flash_messages %}
{%- set page_title = 'Sign In' %}
{%- set page_description = 'Site entrance is here' %}
{%- block content %}
<div class="row">
  <div class="span4">
    <h4>All fields are required. Please fill the form with care.</h4>
    <p>
      If you fill yourself as been forgoten your password, proceed to
      the <a href="{{ url_for('auth.recover_ask') }}">password recover</a>
      page.
    </p>
  </div>
  <div class="span12">
    {{ flash_messages() }}
    {{ render_form(form, 'auth.sign_in', 'Sign In!') }}
  </div>
</div>
{%- endblock content %}
