{% from "_base_macro.html" import nav_li with context -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}{{ page_title }}{% endblock %} - {{ config.SITE_TITLE }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% assets "css_all" -%}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets -%}
    {% block css_extra %}{% endblock -%}
  </head>
{{ _('test') }}
