{%- macro nav_li(endpoint, title) %}
  {%- if request.endpoint == endpoint %}
    {%- set class = 'class=active' %}
  {%- else %}
    {%- set class = '' %}
  {%- endif -%}
<li {{ class }}><a href="{{ url_for(endpoint) }}">{{ title }}</a></li>
{%- endmacro -%}
{%- macro render_form(form, action, submit_text, reset_text, multipart=False) -%}
<form class="form-stacked" method="POST"
{%- if multipart %}
      action="{{ action }}" enctype="multipart/form-data"
{%- else %}
      action="{{ url_for(action) }}"
{%- endif %}>
  <fieldset>
    <!-- <legend>Fill the form fields:</legend> -->
    {%- for field in form %}
      {%- if field.type == 'HiddenField' %}
        {{ field() }}
      {% else -%}
        <div class="clearfix{% if field.errors %} error{% endif %}">
        {{ field.label }}
        <div class="input">
        {%- if field.errors %}
          {{ field(class='span5 error', placeholder=field.description) }}
          <span class="help-inline">{{ field.errors|join(' ') }}</span>
        {%- else %}
          {{ field(class='span5', placeholder=field.description) }}
        {% endif -%}
        </div>
      </div>
      {% endif -%}
    {% endfor -%}
  </fieldset>
  <div class="actions">
    <input type="submit" class="btn primary" value="{{ submit_text }}" />
    {%- if reset_text %}
    <button type="reset" class="btn">{{ reset_text }}</button>
    {%- endif %}
  </div>
</form>
{%- endmacro %}
{%- macro flash_messages() %}
  {%- for type, message in get_flashed_messages(with_categories=true) %}
  <div class="alert-message {{ type }} fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p>{{ message|safe }}</p>
  </div>
  {%- endfor %}
{%- endmacro %}

{% macro breadcrumbs(endpoint) %}
  {% if breadcrumb(endpoint) %}
  <ul class="breadcrumb">
  {% for title, endpoint in breadcrumb(endpoint) %}
    {% if loop.last %}
      <li class="active">{{ title }}</li>
      {% else %}
      <li><a href="{{ endpoint }}">{{ title }}</a> <span class="divider">/</span></li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}
