<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}{% endblock %} - {{ config.SITE_TITLE }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% assets "css_all" -%}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets -%}
    {% block css_extra %}{% endblock %}
  </head>
  <body>

<div class="header">
  <div class="header-body">
    <ul class="main-menu">
      <li><a href="#">Queries</a></li>
      {#% if g.user.is_authenticated() %}
        <li class="notifications{% if notice_unseen_count %} unseen{% endif %}">
          <a href="#">Notices</a>
        </li>
      {% endif %#}
    </ul>

    <div class="userbar">
      {#% if g.user.is_authenticated() %}
        <a href="{{ g.user.get_absolute_url() }}" class="name">{{ g.user.name }}</a>
        <span class="points" title="Your reputation">{{ g.user.points }}</span>
        <a href="{{ g.user.get_logout_url() }}">logout</a>
        {% if g.user.name == g.user.email %}
          | <span class="update-profile">Please update your <a href="{{ g.user.get_update_profile_url() }}">profile</a></span>
        {% endif %}
      {% else %}
        <a href="#">login</a>
      {% endif %#}
    </div>
  </div>
</div>

  <div class="content">
    <div class="content-body">
      {% block content_title %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
  </div>
{% assets "js_all" -%}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets -%}
{% block js_extra %}{% endblock %}
  </body>
</html>
