{% from "_base_macro.html" import nav_li, breadcrumbs with context -%}
{% from "_assets.html" import css_all, js_all -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}{{ page_title }}{% endblock %} - {{ config.SITE_TITLE }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {{ css_all() }}
    {% block css_extra %}{% endblock -%}
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('core.index') }}">
            {{ config.SITE_TITLE }}
          </a>
          <ul class="nav secondary-nav">
            {% if g.user.username in config.ADMINS %}
            <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle">{{ _('Manage catalog') }}</a>
              <ul class="dropdown-menu">
                {{ nav_li('catalog.list_categories', _("Categories")) }}
              </ul>
            </li>
            {% endif %}
            {%- if g.user %}
            {{ nav_li('auth.view_profile', _("Profile")) }}
            {{ nav_li('auth.sign_out', _("Sign Out")) }}
            {%- else %}
            {{ nav_li('auth.sign_up', _("Sign Up")) }}
            {{ nav_li('auth.sign_in', _("Sign In")) }}
            {%- endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      {%- block content_wrapper %}
      <div class="container">
        {{ breadcrumbs(request.endpoint) }}
        {%- block content_title %}
        <div class="page-header">
          <h1>{{ page_title|safe }} <small>{{ page_description }}</small></h1>
        </div>
        {%- endblock %}
        {%- block content %}{%- endblock %}
      {%- endblock content_wrapper %}
    </div>
  {{ js_all() }}
  {%- block js_extra %}{% endblock -%}
  </body>
</html>
